:root {
    --deep-yellow: #fab21d;
}

*, em {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'motion';
    src: url(./fonts/MotionPersonalUseBold-2O0od.ttf);
}

.background-image {
    width: 35vw;
    background-image: url(./images/tobias-reich-6LUZ4qTCugk-unsplash.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
}

.image-header {
    min-height: 40px;
    background-color: rgba(45,45,45,.4);
    width: 35vw;
    margin-top: 30vh;
    position: sticky;
    top: 146px;
    display: flex;
    font-family: 'motion';
    font-size: clamp(1rem,6rem,6.1rem);
    color: var(--deep-yellow);
    justify-content: center;
    overflow: hidden;
}

.image-header img {
    max-width: 200px;
    max-height: 10vh;
}

.brand-name {
    margin-left: 50px;
    margin-right: 70px;
}

.image-footer {
    margin: auto auto 0 auto;
    padding: 2px;
    color: azure;
    overflow: hidden;
}

a {
    color:aquamarine
}
 
a:visited {
     color: lightpink;
}


.intro {
    margin-left: 35vw;
    width: 65vw;
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-flow: wrap;
    padding: 4rem 14rem 2rem 3rem;
    background-color: lightgray;
}

.intro-text p {
    margin-top: 2rem;
}

.form-section {
    margin-left: 35vw;
    width: 65vw;
    min-height: 30vh;
    padding: 1rem 14rem 2rem 3rem;
    background-color: whitesmoke;
    box-shadow: 1px 3px 5px -2px rgba(0,0,0,.4);
}

.form-header {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.inputs {
    display: flex;
    flex-flow: wrap;
    gap: 3rem;
}

.inputs div {
    display: flex;
    flex-flow: column;
    width: 20rem;
}

.inputs input {
    font-size: 1.6rem;
    border: 1px solid rgba(110,110,110, .2);
    border-radius: 2%;
}

.inputs input:focus {
    border-radius: 0%;
}

.log-in-section {
    margin-left: 35vw;
    width: 65vw;
    padding: 1rem 14rem 2rem 3rem;
    background-color: lightgray;
    min-height: 28.26689895vh;
}

.button {
    margin: 3rem 0;
    width: 200px;
    height: 45px;
    background-color: var(--deep-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    box-shadow: 1px 3px 5px -1px rgba(0,0,0,.4);
}

.member a {
    color: #233f4e;
    text-decoration: none;
}

.member a:visited {
    color: #724e07;
}